<html>
    <head>
        <title>myLibrary</title>
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/book_detail.css">
        <link rel="stylesheet" href="css/join.css">
        <link rel="stylesheet" href="css/login.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <img src="img/logo.png">
            <div>
                <input type="button" value="회원가입" class="header_btn" id="join">
                <input type="button" value="로그인" class="header_btn" id="login">
            </div>
            <div>
                <input type="button" value="검색" class="header_btn" id="serch_btn">
                <input type="text" value="검색어를 입력하시오." id="serch_in">
            </div>
        </header>
        <nav>
            <div id="b_nav">도서리스트
            </div>
            <div>열람실
            </div>
            <div id="q_nav">질문하기
            </div>
            <div id="n_nav">공지사항
            </div>
            <div id="map_nav">찾아오시는길
            </div>
        </nav>
        <div>
            도서소개
        </div>
        <section id="book_detail">
            <div id="book_detail_left">
                <img src="img/new_book1.PNG">
                <p>모던 웹을 위한 javascript, jquery 입문</p>
            </div>
            <div id="book_detail_right">
                <div>
                    <label>저자  </label>
                    <p>윤인성</p>
                </div>
                <div>
                    <label>출판사  </label>
                    <p>한빛미디어</p>
                </div>
                <label>책 소개 </label>
                <p>『JAVASCRIPT JQUERY 입문』은 이미지와 텍스트를 보여주는 단순한 웹 페이지가 아닌 웹 애플리케이션을 개발해야 하는 시대의 흐름에 맞춰 내용을 전면 재구성한 책이다. 트위터, 페이스북과 같은 웹 애플리케이션 개발이나 스마트폰을 위한 모바일 웹 앱 제작에 필요한 자바스크립트 기술을 단 한 권에 모두 담았다.</p>
                <div>
                    <label>재고수량  </label>
                    <p>3</p>
                </div>
                <div>
                    <label>재고위치  </label>
                    <p id="stock_place">A-16,H-7,K-14</p>
                    <input type="button" value="예약하기" id="reserve_btn">
                </div>
            </div>
        </section>
        <section id="login_modal">
            <div>
                <div id="login_section">
                    <h3>로그인</h3>
                    <div>
                        <label>아이디</label>
                        <input type="text" value="아이디를 입력해 주세요." id="id_put">
                    </div>
                    <div>
                        <label>비밀번호</label>
                        <input type="password" id="pw_put">
                    </div>
                </div>
                <div id="login_bottom">
                    <input type="button" value="로그인" id="login_btn">
                    <input type="button" value="닫기" id="login_close">
                </div>
            </div>
        </section>
        <section id="join_modal">
            <div>
                <div id="join_section">
                    <h3>회원가입</h3>
                    <div>
                        <label>아이디</label>
                        <input type="text" style="width:50%;" value="아이디">
                        <input type="button" value="중복확인" id="id_check">
                    </div>
                    <div>
                        <label>비밀번호</label>
                        <input type="password">
                    </div>
                    <div>
                        <label>비밀번호 확인</label>
                        <input type="password">
                    </div>
                    <div>
                        <label>이름</label>
                        <input type="text" value="이름">
                    </div>
                    <div>
                        <label>전화번호</label>
                        <input type="text" value="전화번호">
                        <p>* 전화번호는 - 없이 입력해 주세요.</p>
                    </div>
                    <div>
                        <label>주소</label>
                        <input type="text" value="주소">
                    </div>
                </div>
                <div id="join_bottom">
                    <input type="button" value="회원가입">
                    <input type="button" value="닫기" id="join_close">
                </div>
            </div>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="js/common.js"></script>
        <script src="js/login_join.js"></script>
        <script src="js/book_detail.js"></script>
    </body>
</html>