<!DOCTYPE html>
<html>
    <head>
        <title>Library Management Page</title>
        <link rel="stylesheet" href="css/manage_main_common.css">
    </head>
    <body>
        <header>
            <div>
                <p style ="text-align:right" > 관리자님 환영합니다.</p>
            </div>
        </header>
        <div style = "width:80%; height: 900px; margin: 0 auto;">
            <div style="width:20%; height: 880px; margin: 10px; float:left;">
                <div style="height:270px; margin: 15px;">
                    <input type="button" value="도서 관리">
                </div>
                <div style="height:270px; margin: 15px;">
                    <input type="button" value="사용자 관리">
                </div>
                <div style="height:270px; margin: 15px;">
                    <input type="button" value="게시판 관리">
                </div>
            </div>
            <div style="width: 76%; height: 880px; float: right; margin: 10px;">
                
            </div>
        </div>
    </body>
</html>