body > div{
    width:10%;
    height:5%;
    float:left;
    margin-left:4%;
    background-color:#a6a6a6;
    border-radius:5px;
    color:#fff;
    font-size:1.3em;
    font-weight:bold;
    text-align:center;
    padding-top:0.5%;
}
#notice_list{
    width:70%;
    height:60%;
    margin-left:3%;
    float:left;
    border:3px solid #a6a6a6;
    border-radius:10px;
    padding-left:2%;
    padding-top:1%;
    overflow:auto;
}
#notice_list > div{
    width:80%;
    height:8%;
    margin-top:1.5%;
    margin-bottom:1.5%;
    border:3px solid #fff;
    padding:0.6%;
    border-radius:10px;
    color:#000;
    border-bottom:2px solid #a6a6a6;
}
#notice_list > div > span{
    width:5%;
    font-size:1.5em;
    float:left;
    color:teal;
}
#notice_list > div > p{
    font-size:1.3em;
    float:left;
}